/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body{
    background-color: #000000;
    max-width: 1800px;
    margin: auto;
}

button{
    background-color: #4a4a4a;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
/* TYPOGRAPHY */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}
/* HEADER */
.impostazioni-video{
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    padding-bottom: 20px;
}
/* MAIN */
/* FOOTER */
